html {
  font-family: "Helvetica", sans-serif !important;
}

body {
  background-color: #497cae45;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  background-color: #000000db;
}

div.jumbotron {
  background-color: aliceblue;
  color: #2a4b6c;
}

main.container {
  min-height: 100vh;
  height: auto;
}

figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

figure {
  max-width: 100%;
}

.caption {
  color: darkslategray;
}

.back-arrow {
  margin-top: 0.5rem !important;
  margin-left: 0.5rem !important;
  top: 60px !important;
  z-index: 9999 !important;
}
