html {
  font-family: 'Helvetica', sans-serif !important;
}

body {
  background-color: #497cae45;
}

.navbar {
  background-color: #000000db;
}

div.jumbotron {
  background-color: aliceblue;
  color: #2a4b6c;
}

main.container {
  min-height: 100vh;
  height: auto;
}

figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

figure {
  max-width: 100%;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-25deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
